################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Restaurant.API/obj
/Restaurant.Data/obj
/Restaurant.Service/obj
/Restaurant.Shared/obj
/Restaurant.Web/obj
/Restaurant.API/bin
/Restaurant.Data/bin
/Restaurant.Service/bin
/Restaurant.Shared/bin
/Restaurant.Web/bin
